<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RATIONAL DREAMS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Megrim&family=Mina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="guidestyle.css">
</head>
<body> 
  

    <header>
        <nav>
            <ul>
               <li> <a href="/index.ejs">HOME  </a>                 </li>
               <li> <a href="/guide.ejs">GUIDE  </a>                </li>
               <li> <a href="/dreamjournal.ejs">DREAM JOURNAL  </a>        </li>
               <li> <a href="#">SHARE  </a>                </li>
            </ul>
        </nav>
    </header> 



    <div class="alignbanner">
      <div class="banner">
          <h1>TECHNIQUES FOR LUCID DREAMING</h1>
          <div class="alignparag"> 
            <div class="left" >
                
                  <h3>Dream Journal</h3>
                 <p>A dream journal is crucial for lucid dreaming. Keep
                  it by your bed and jot down any details or feelings as soon as you
                  wake up. Be consistent, as regular recording improves dream recall,
                  a key to lucid dreaming. Review it often to spot recurring themes or
                  "dream signs" that can trigger lucidity.
                </p>
              </div>
              <div class="right" >
                
                <h3>Reality Checks</h3>
               <p> Reality checks help you determine if you're
                dreaming. Try these: Look at Your Hands: Hands may appear distorted
                in dreams, so check them often. Read Text Twice: Text often changes
                in dreams; if it does, you're dreaming. Pinch Your Nose and Try to
                Breathe. Make these checks a habit so you'll automatically perform
                them in your dreams.
              </p>
            </div>
            </div>
            <div class="alignparag"> 
                <div class="left" >
                    
                      <h3>Set Intentions</h3>
                     <p>Before sleeping, firmly tell yourself, “I will realize I am dreaming tonight.” Repeat this several times with focus and belief. This will train your subconscious mind to eventually realise being in a dream. 
                    </p>
                  </div>
                  <div class="right" >
                    
                    <h3>Get Comfortable</h3>
                   <p>Dim the lights an hour before bed. Get a comfortable posture and imagine a scenerio, remind a dream or feel your surroundings.
                    Avoid screens (phones, TVs, etc.) to reduce blue light exposure.
                    Meditate or listen to calming music to clear your mind. 
                  </p>
                </div>
                </div>
            <div class="alignparag"> 
                <div class="left" >
                    
                      <h3>MILD</h3>
                     <p> The MILD technique helps you recognize when you're dreaming. Before
                        sleep, repeat "I will realize I'm dreaming" to embed the intention
                        in your subconscious. Visualize becoming lucid in a recent dream,
                        imagining yourself recognizing it's a dream. Truly believe you'll
                        achieve lucidity.
                    </p>
                  </div>
                  <div class="right" >
                    
                    <h3>Wake Back To Bed</h3>
                   <p> The WBTB technique boosts lucid dreaming. Set an alarm for 5-6 hours after bedtime. Stay awake for 15-30 minutes, doing something quiet like reading about lucid dreaming. Then return to sleep, using the MILD technique to enhance your chances of lucidity.
                  </p>
                </div>
                </div>
                <div class="alignparag"> 
                    <div class="left" >
                        
                          <h3>Stay Calm</h3>
                         <p>     Lucid dreams can sometimes be unstable and fade quickly. To stabilize a
                            lucid dream: Stay Calm: Getting too excited can wake you up. Stay calm
                            and take deep breaths. Rub Your Hands Together: This simple action can
                            anchor you in the dream and make it more vivid. Focus on Details: Engage
                            with the dream environment by focusing on details, like the texture of
                            an object or the sounds around you.
                        </p>
                      </div>
                      <div class="right" >
                        
                        <h3>Explore</h3>
                       <p> Once stable in a lucid dream, explore freely—fly, talk to dream characters, change the scenery, or ask your subconscious questions. Lucid dreaming improves with practice, so stay persistent. Success may take time, but patience is key.
                      </p>
                    </div>
                    </div>



























        </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="script.js"></script>
    
</body>
</html>