<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RATIONAL DREAMS</title>
    <link rel="stylesheet" href="homestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Megrim&family=Mina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
</head>

<body>

    <header>
        <nav>
            <ul>
               <li> <a href="/index.ejs">HOME  </a>                 </li>
               <li> <a href="/guide.ejs">GUIDE  </a>                </li>
               <li> <a href="/dreamjournal.ejs">DREAM JOURNAL  </a>        </li>
               <li> <a href="#">SHARE  </a>                </li>
            </ul>
        </nav>
    </header>
<div class="aligner">
    <div class="banner">
    <h1>RATIONAL DREAMS</h1>
    <p> When the world sleeps, a door opens to the vast and uncharted.
        Lucid Dream Horizon is where dreams transform into vivid realities
        and the impossible becomes yours to shape. Enter a place where
        every choice, every creation, and every adventure is born from
        your imagination. The night is your canvas, and the dream is your
        masterpiece. Dare to awaken within.</p>

      <button> <a href="/guide.ejs"> GUIDE </a></button>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="script.js"></script>

</body>
</html>